.main-banner
	.wd-banner-1
		.banner-lists
			.banner-item
				img(src="./img/banner/banner.jpg", alt="")
	.breadcrumb
		.container
			h2 about us
			ul
				li
					a(href="") Home
				li
					a.active(href="") Catalogue
