section.design
	.container 
		.row 
			.col 
				.nav-whoweare 
					nav 
						a.active(href="#") DESIGN
						a(href="#") PRODUCTION
						a(href="#") INNOVATION
						a(href="#") SERVICE]]
		.row 
			.col.nav-main
				.item 
					.img 
						img(src="./img/whoweare/w-1.png", alt="")
					.content 
						h2 Design
						p With the entrepreneurial spirit that has always characterised us, we have developed the ceramic product in both how it is manufactured and in the aspect that most sets it apart: its Design.
				.item1 
					.img 
						img(src="./img/whoweare/w-1.png", alt="")
					.content 
						p Azulev Grupo, in its desire to innovate, always seeks to satisfy the demand for products with high levels of technical and aesthetic quality. The designs in the range allow creating all types of rooms with personality and their own style.
