section.whoweare-main 
	.container 
		.row 
			.col.whoweare-item 
				.content 
					.img
					.full-content
						h2 AFM 
						p Commitment to the environment has become one of the marks of our identity.  For this, we have been given awards and become certified on numerous occasions by internationally recognised Quality 
							br 
							| Accreditation entities.
					.img
