section.introduce
	.container 
		.row 
			.col-lg-5.introduce-item  
				.img 
					img(src="./img/about/a-1.jpg", alt="")
			.col-lg-7.introduce-item  
				.content 
					.content-top 
						h3 If the Azulev Group has become a world reference in the ceramic industry is for having done around a very clear idea:
						br 
						h3 to improve the lives of people and their environment.
					.content-bottom 
						p We are known for giving personalized and careful attention to our customers and to establish in our midst a constant improvement of production processes primarily focused on protecting the environment, something that we have grown deep inside. It is therefore no coincidence that we are one of the few companies in the sector awarded the DAP called "Declaration Environmental Product".
						br 
						p Our group stands on four banners bearing the product of ceramic to levels unmatched quality. Are our own internationally recognized brands: Azulev, XLAM, Sanchís and Bath. All of them grant a different meaning to the ceramics of the century.
section.history
	.container 
		.row 
			.col 
				.swiper-container
					.swiper-wrapper
						.swiper-slide 
							a(href="javascript:void(0)")
								.img
									img(src="./img/about/a-2.jpg", alt="")
								.content 
									h3 2018
									h2 A new Production Plant in Onda begins work
									p With cutting-edge Technology, a new era of Production in which we begin to manufacture 
										br 
										| Porcelain Stoneware
				.slide-navigation
					i.lnr.lnr-chevron-left
					i.lnr.lnr-chevron-right