section.contact
	.container 
		.row 
			.col-lg-6.contact-item 
				.information 
					h3 Showroom
					h3 HCM city 
					.conten 
						p 506/17 Ba Thang Hai, Ward 14,
							br 
							| District 10, Ho Chi Minh City.
						p Telephone: 
							span (028) 629 74 629
						p Email: 
							a(href="#") info@americandoor.com.vn
			.col-lg-6.contact-item 
				.information 
					h3 Showroom
					h3 Can Tho
					.conten 
						p 506/17 Ba Thang Hai, Ward 14,
							br 
							| District 10, Ho Chi Minh City.
						p Telephone: 
							span (028) 629 74 629
						p Email: 
							a(href="#") info@americandoor.com.vn
section.map 
	.container 
		.row 
			.col 
				.td
					h2 Office
						br 
						|Locations
					nav
						a.active(href="#ptab-1") Product Info
						a(href="#ptab-2") Specifications
				//- .td
				//- 	.pcontent#ptab-1(style="display: block")
				//- 		p A little tea set presented in handmade gift box. Conventional shape. Great for gifting individually on all occasions.
				//- 		table
				//- 			tbody
				//- 				tr
				//- 					td Gift set contains
				//- 					td 
				//- 						| Japanese Tea Pot: 1PC
				//- 						| Small Tea Bolw: 6 PCS
				//- 				tr
				//- 					td Size
				//- 					td L - 25cm X  W - 25cm   X  H - 10cm
				//- 				tr
				//- 					td Color
				//- 					td Crytal Green
				//- 				tr
				//- 					td Material
				//- 					td Ceramic
				//- 				tr
				//- 					td Care
				//- 					td Microwave, Dishwasher Safe
				//- 	.pcontent#ptab-2
				//- 		p tab 2