section.contact
	.container 
		.row 
			.col-lg-6.contact-item 
				.information 
					h3 Showroom
					h3 HCM city 
					.conten 
						p 506/17 Ba Thang Hai, Ward 14,
							br 
							| District 10, Ho Chi Minh City.
						p Telephone: 
							span (028) 629 74 629
						p Email: 
							a(href="#") info@americandoor.com.vn
			.col-lg-6.contact-item 
				.information 
					h3 Showroom
					h3 Can Tho
					.conten 
						p 506/17 Ba Thang Hai, Ward 14,
							br 
							| District 10, Ho Chi Minh City.
						p Telephone: 
							span (028) 629 74 629
						p Email: 
							a(href="#") info@americandoor.com.vn
section.map 
	.container 
		.row 
			.col 
				.td
					h2 Office
						br 
						|Locations
					nav
						a.active(href="#ptab-1") Ho Chi Minh City
						a(href="#ptab-2") Can Tho
				.td
					.pcontent#ptab-1(style="display: block")
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3065322265825!2d106.69472631494178!3d10.78781826193284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e2c245f%3A0xb2887356ab89d12b!2sGreen+Beetle+Consultants+Design+Software+Company+Limited!5e0!3m2!1sen!2s!4v1555865069015!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					.pcontent#ptab-2
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3065322265825!2d106.69472631494178!3d10.78781826193284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e2c245f%3A0xb2887356ab89d12b!2sGreen+Beetle+Consultants+Design+Software+Company+Limited!5e0!3m2!1sen!2s!4v1555865069015!5m2!1sen!2s" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
section.contact-form 
	.container 
		.row 
			.col 
				.form-content 
					p If you are interested in being part of our company, developing your career in a consolidated and dynamic Group, you can send your CV to the following email: 
					a(href="#") info@americandoor.com.vn