section.news
	.container
		.row
			.col-lg-8
				figure
					img(src="./img/news/item_1.png", alt="")
					figcaption
						span 25 / 02 / 2019
						h3 Azulev Grupo in Cevisama
			.col-lg-4
				figure
					img(src="./img/news/item_2.png", alt="")
					figcaption
						span 25 / 02 / 2019
						h3 6 keys to design a shared bathroom
				figure
					img(src="./img/news/item_3.png", alt="")
					figcaption
						span 25 / 02 / 2019
						h3 6 keys to design a shared bathroom
section.news-items
	.container
		.row
			.col-lg-8
				.row
					.col-md-6
						figure
							img(src="./img/news/item_4.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 Tiles of excellent quality distinguish Azulev Grupo in Cersaie Azulev Grupo's new tile collections stand out
						figure
							img(src="./img/news/item_5.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 Tiles of excellent quality distinguish Azulev Grupo in Cersaie
						figure
							img(src="./img/news/item_6.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 6 keys to design a shared bathroom
					.col-md-6
						figure
							img(src="./img/news/item_7.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 How to clean bathroom tiles
						figure
							img(src="./img/news/item_8.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 Architecture trends for 2019 and 2020
						figure
							img(src="./img/news/item_9.png", alt="")
							figcaption
								span 25 / 02 / 2019
								h3 quality distinguish Azulev Grupo in Cersaie
			.col-lg-4
				h3 SOCIAL NETWORKS
				nav
					ul
						li.mdi-facebook
						li.mdi-linkedin
						li.mdi-google-plus
					ul
						li.mdi-instagram
						li.mdi-youtube
						li.mdi-pinterest
					ul
						li.mdi-twitter
						li
						li